Source: python-discuss
Section: python
Priority: optional
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 10), dh-python, python3-all
Standards-Version: 3.9.4

Package: python3-discuss
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-kerberos
Description: Python client for Project Athena forum system
 Pydiscuss provides a pure-Python implementation of discuss -- the forum
 protocol developed in late 80's and still used around MIT.
